<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div>
            <h1>Title Here</h1>
            <sub data-test="true">Sub title</sub>
        </div>
        <div class="content">
            <p>Some content</p>
            <strong>owo</strong>
            <p>uwu</p>
            <small>Smoll</small>
        </div>
    </section>
    <article>
        <h2 id="woop">Woop</h2>
    </article>
</body>

</html>